*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html,body{
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
img{
    height: 300px;
    object-fit: cover;
}
button{
    background-color: rosybrown;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}
button:active{
    transform: scale(0.95);
    opacity: 0.8;
}